---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Inicio">
  <section class="hero min-h-[70vh] rounded-box bg-base-100 shadow">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Astro + Tailwind + daisyUI</h1>
        <p class="py-6">
          Proyecto base.
        </p>
        <button class="btn btn-primary">Todo listo</button>
      </div>
    </div>
  </section>
</BaseLayout>git push -u origin main